.formLayout {
  margin: 40px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
}

.partialWidth {
  grid-column: 1 / 3;

  @media (min-width: 576px) {
    grid-column: auto;
  }
}

.fullWidth {
  grid-column: 1 / 3;
}

.gap {
  /*  */
}
